@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --color-grey:#f2f2f2;
   --color-blue:#0065fc;
   --color-lightblue:#deebff;
}

* {
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}

a{
   color: black;
   text-decoration: none;
}

.card__shadow{
   -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.05);  
   -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.05);  
   box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.05); 
}

.card__layout{
   border-radius: 20px;
   background-color: white;
   padding: 4px;
}

.container{
   margin: 0 auto;
   max-width: 1792px;
   padding: 0 3%;
}


.color__background{
   background-color: var(--color-grey);
}

/* Header */
/* Navigation bar desktop*/

.navbar{
   margin: 0 1% 1%;
}
.navbar__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__logo__img{
   width: 100px;
}
.navbar__burger{
   display: none;
}

.navbar__menu{
   width: 20%;
}

.navbar__menu__list{
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-top: 0;
}

.navbar__menu__item{
   padding-top: 35px;
   padding-right: 10px;
}
.navbar__menu__item:hover{
   border-top: 3px solid var(--color-blue);
   color: var(--color-blue);

}

.menu__item__text:hover{
   color: var(--color-blue);
}

/* navbar tablette*/
@media screen and (max-width: 992px) {
   .navbar{
      margin: 0 -3% 1%;
   }
   .navbar__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .navbar__logo{
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .navbar__logo__img{
      width: 200px;
   }
   .navbar__menu{
      width: 100%;
   }
   .navbar__menu__list{
      padding: 0;
   }
   .navbar__menu__item{
      padding-bottom: 10px;
      width: 50%;
      text-align: center;
   }
   .navbar__menu__item:hover{
      border-top: none;
      border-bottom: 2px solid var(--color-blue);
   }

}
/* Navbar mobile */

@media screen and (max-width: 768px){
   .navbar{
      margin: 0 -3% 1%;
   }
   .navbar__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .navbar__logo{
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .navbar__logo__img{
      width: 200px;
   }
   .navbar__menu{
      width: 100%;
   }

   .navbar__burger{
      width: 100%;
   }

   .navbar__menu__list{
      padding: 0;
      
   }
   
   .navbar__menu__item{
      padding-bottom: 10px;
      width: 50%;
      text-align: center;
   }
   .navbar__menu__item:hover{
      border-top: none;
      border-bottom: 2px solid var(--color-blue);
   }
}

/* Heading site */
.heading__title{
   margin-bottom: 4px;
}

.heading__form{
   display: flex;
   margin-top: 2%;
   margin-bottom: 3%;
   height: 40px;
}

.heading__form__label{
   background-color: var(--color-grey);
   height: 100%;
   width: 40px;
   justify-content: center;
   align-items: center;
   display: flex;
   border-radius: 10px 0 0 10px;
}

.heading__form__container{
   border: 1px solid var(--color-grey);
   padding: 0 1%;
    display: flex;
}

.heading__form__input{
   border: none;
   font-weight: 600;
}

.heading__form__button__container{
   background-color: var(--color-blue);
   border-radius: 0 10px 10px 0;
   display: flex;
   padding: 4px;
}

.heading__form__button{
   background-color: transparent;
   border: none;
   color: white;
   font-weight: 500;
}

.display__none--desktop{
   display: none;
}

.filter__container{
   display: flex;
   width: 100%;
   height: 40px;
   align-items: center;
   margin-bottom: 3%;
   font-weight: 600;

}

.filter__button__container{
   border-radius: 30px;
   min-width: 64px;
   display: flex;
   border: 2px solid var(--color-grey);
   margin-right: 16px;
}

.filter__button{
   background: transparent;
   margin: 0;
   padding: 0;
   border: none;
   display: flex;
   align-items: center;
   font-weight: 600;
   
}

.filter__button__container:hover{
   background-color: var(--color-blue);
}
.filter__button__icon{
   background-color: var(--color-lightblue);
   color: var(--color-blue);
   min-width: 41px;
   height: 41px;
   border-radius: 25px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.filter__button__span{
   margin: 0 16px 0 16px;
}

.heading__info__text__container{
   display: flex;
   align-items: center;
   margin-bottom: 3%;
}

.heading__info__text{
   width: 25px;
   height: 25px;
   border: 1px solid var(--color-grey);
   border-radius: 50%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1%;
   color: var(--color-blue);
}

.filter__container__label{
   margin-right: 16px;
}
/* Heading site end */
/* Heading tablette */
@media screen and (max-width: 992px) {
  
   .heading__form__container{
      flex-grow: 2;
      padding: 0 4%;
   }
   .heading__form__button__container {
      border-radius: 10px;
      flex-grow: 0;
   }
   .filter__container{
      width: 100%;
      height: auto;
      flex-wrap: wrap;
   }
   .filter__container__label{
      width: 100%;
      margin-bottom: 16px;
   }
   .filter__button__container{
      margin-bottom: 16px;
   }
}
/* Heading tablette end */
/* Heading mobile */
@media screen and (max-width: 768px) {
   .display__none--mobile{
      display: none;
   }
   .display__none--desktop {
      display: block;
  }
   .heading__form__container{
      flex-grow: 2;
      padding: 0 4%;
   }
   .heading__form__button__container {
      border-radius: 10px;
      width: 40px;
   }
   .filter__container{
      width: 100%;
      height: auto;
      flex-wrap: wrap;
   }
   .filter__container__label{
      width: 100%;
      margin-bottom: 16px;
   }
   .filter__button__container{
      margin-bottom: 16px;
   }
}
/* Heading mobile end */

/* section 1 */
.hosting__container{
   display: flex;
}

.hosting__container__layer{
   background-color: var(--color-grey);
   border-radius: 20px;
   padding: 3.5%;
}

.hosting__list__container{
   width: 70%;
}


.hosting__activities__link{
   margin-top: 5%;
   font-size: 18px;
   font-weight: 600;
}

.hosting__list__container__cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   min-height: 444px;
   max-height: 545px;
}
.hosting__card{
   width: 30%;
   height: 200px;
}

.hosting__card__container__img{
   height: 65%;
}
.hosting__card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}
.hosting__card__text{
   height: 38%;
   position: relative;
   padding: 1%;
   padding-left: 5%;
   line-height: 1.6;
}
.hosting__card__text h3{
   font-size: 1.3vw;
   margin: 0 ;
}
.hosting__card__text p{
   font-size: 12px;
   margin: 0 ;
   
}
.hosting__card__star{
   display: flex;
   position: absolute;
   bottom: 15%;
}


.hosting__card__star--trend{
   display: flex;
   position: absolute;
   bottom: 12px;
}

.star-grey{
   color: var(--color-grey);
}

.star-blue{
   color: var(--color-blue);
}

.hosting__trend__container{
   width: 30%;
   margin-left: 3.5%;
}
.hosting__trend__title{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hosting__trend__container__cards{
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
   min-height: 530px;
}

.hosting__trend__card{

   display: flex;
   justify-content: space-between;
   height: 150px;
   width: 100%;
   margin-bottom: 10px;
}
.card__link{
   width: 100%;
}


.hosting__trend__card__img{
   width: 35%;
}

.hosting__trend__card__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px 0 0 20px;
}

.hosting__trend__card__text{
 width: 60%;
 line-height: 1.6;
 justify-content: space-evenly;
 position: relative;
}

.hosting__trend__card__text > div > h3{
   margin: 0;
   font-size: 1.3vw;
}

.hosting__trend__card__text > div > p{
   font-size: 12px;
}
/* section 1 end */
/* section 1 tabelette */
@media screen and (max-width: 1024px) {
   .hosting__card__text h3{
      font-size: 13px;
      margin: 0 ;
   }
   .hosting__trend__card__text > div > h3{
      margin: 0;
      font-size: 13px;
   }
   .hosting__trend__card{
      height: 135px;
   }
}
@media screen and (max-width: 992px) {
   .hosting__container{
      flex-wrap: wrap;
      margin: -3%;
   }
   .hosting__list__container{
      width: 100%;
      order: 1;
   }
   .hosting__container__layer {
      border-radius: 0;
   }

   .hosting__container__layer:first-child{
      background-color: transparent;
   }

   .hosting__trend__container{
      width: 100%;
      margin: 16px 0 16px 0;
   }
   .hosting__card{
      width: 100%;
      height: 225px;
      margin-bottom: 20px;
   }
   .hosting__card__text h3{
      font-size: 18px;
   }
   .hosting__trend__card__text > div > h3{
      font-size: 18px;
   }
}
/* section 1 tablette end */
/* section 1 mobile */
@media screen and (max-width: 768px) {
   .hosting__container{
      flex-wrap: wrap;
      margin: -3%;
   }
   .hosting__list__container{
      width: 100%;
      order: 1;
   }
   .hosting__container__layer {
      border-radius: 0;
   }

   .hosting__container__layer:first-child{
      background-color: transparent;
   }

   .hosting__trend__container{
      width: 100%;
      margin: 16px 0 16px 0;
   }
   .hosting__card{
      width: 100%;
      margin-bottom: 20px;
   }
   .hosting__card__text h3{
      font-size: 18px;
   }
   .hosting__trend__card__text > div > h3{
      font-size: 18px;
   }
   

}
/* section 1 mobile end */

/*Section 2*/
.hosting__activities{
   margin: 5% 0;
}

.hosting__activities__container{
   display: flex;
   justify-content: space-between;
}

.hosting__activities__cards{
   width: 23%;
   height: 400px;
}

.hosting__activities__cards--twins{
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
}

.hosting__activities__card{
   border-radius: 20px;
   height: 100%;
}

.hosting__activities__card__img{
   height: 85%;
}

.hosting__activities__card__img--twins{
   height: 70%;
}

.hosting__activities__card__img__main{
   width: 100%;
   height: 100%;
   border-radius: 20px 20px 0 0 ;
   object-fit: cover;
}

.hosting__activities__card__text{
   display: flex;
   align-items: center;
   height: 15%;
   padding-left: 5%;
}

.hosting__activities__card__text--twins{
   display: flex;
   align-items: center;
   height: 30%;
   padding-left: 5%;
}

.hosting__activities__card--twins--layer1{
   height: 45%;
   width: 100%;
   border-radius: 20px; 
}

.hosting__activities__card--twins--layer2{
   height: 35%;
   width: 100%;
   border-radius: 20px;  
}

.hosting__activities__card--twins--layer3{
   height: 55%;
   width: 100%;
   border-radius: 20px; 
}
/*Section 2 end*/
/*Section 2 tabelette*/
@media screen and (max-width: 768px) {
   .hosting__activities__container{
      flex-wrap: wrap;
   }
   .hosting__activities__cards{
      width: 100%;
      height: auto;
      margin-bottom: 16px;
   }
   .hosting__activities__card {
      height: 200px;
   }
   .card__layer__twins__mobile{
      height: 200px;
      margin-bottom: 16px;
   }
}

/*Section 2 tabelette end*/
/*Section 2 mobile*/
@media screen and (max-width: 768px) {
   .hosting__activities__container{
      flex-wrap: wrap;
   }
   .hosting__activities__cards{
      width: 100%;
      height: auto;
      margin-bottom: 16px;
   }
   .hosting__activities__card {
      height: 200px;
   }
   .card__layer__twins__mobile{
      height: 200px;
      margin-bottom: 16px;
   }
}

/*Section 2 mobile end*/

/*Footer*/
.footer__container{
   display: flex;
   justify-content: space-between;
   width: 75%;
   padding: 3%
}

.footer__list__title{
   font-size: 20px;
}

.footer__list__menu{
   list-style: none;
   padding: 0px;
   font-size: 16px;
}

.footer__list__item{
   line-height: 2;
}
/*Footer end*/
/*Footer tablette*/
@media screen and (max-width: 992px) {
   .container{
      margin: auto;
   }
   .footer__container {
      width: 90%;
   }

}
/*Footer tablette end*/

/*Footer mobile*/
@media screen and (max-width: 768px) {
   .footer__container{
      flex-wrap: wrap;
      width: 100%;
   }
   .footer__container__list{
      width: 100%;
   }
}
/*Footer mobile end*/

@media screen and (max-width:1792px){
   .container{
      margin:0;
   }
}
@media screen and (min-width:1500px){
   .hosting__card__text h3{
      font-size: 18px;
   }
   .hosting__trend__card__text > div > h3{
      font-size: 18px;
   }
}