@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --color-grey:#f2f2f2;
   --color-blue:#0065fc;
   --color-lightblue:#deebff;
}
* {
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}

a{
   color: black;
   text-decoration: none;
}

.container{
   margin: 0 auto;
   max-width: 1792px;
   padding: 0 3%;
}

.color__footer{
   background-color: var(--color-grey);
}

.navbar{
   margin: 0 1% 1%;
}
.navbar__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar__logo > img{
   width: 100px;
}
.navbar__burger{
   display: none;
}

.navbar__menu{
   width: 20%;
}

.navbar__menu__list{
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-top: 0;
}

.navbar__menu__item{
   padding-top: 40px;
}
.navbar__menu__item--active{
   border-top: 1px solid var(--color-blue);
}

.menu__item__text--active{
   color: var(--color-blue);
}

.heading__container h2{
   margin-bottom: 4px;
}

.heading__form{
   display: flex;
   margin-top: 2%;
   margin-bottom: 3%;
   height: 40px;
}
.heading__form__label{
   background-color: var(--color-grey);
   height: 100%;
   width: 40px;
   justify-content: center;
   align-items: center;
   display: flex;
   border-radius: 10px 0 0 10px;
}

.heading__form__input{
   border: 1px solid var(--color-grey);
   padding: 0 1%;
   /* max-height: 30px; */
    display: flex;
}
.heading__form__input input{
   border: none;
   font-weight: 600;
}

.heading__form__button{
   background-color: var(--color-blue);
   /* max-height: 30px; */
   border-radius: 0 10px 10px 0;
   display: flex;
   padding: 4px;
}

.heading__form__button button{
   background-color: transparent;
   border: none;
   color: white;
   font-weight: 500;
}

.filter-container{
   display: flex;
   justify-content: space-between;
   width: 60%;
   height: 40px;
   align-items: center;
   margin-bottom: 3%;
   font-weight: 600;
}


.filter__container__button{
   /* background-color: lightskyblue; */
   border-radius: 30px;
   min-width: 64px;
   display: flex;
   border: 2px solid var(--color-grey);
   /* font-weight: 600; */
}

.filter__container__button button{
   background: transparent;
   margin: 0;
   padding: 0;
   border: none;
   display: flex;
   align-items: center;
   font-weight: 600;

}

.filter__container__button > button > i{
   background-color: var(--color-lightblue);
   color: var(--color-blue);
   min-width: 41px;
   height: 41px;
   border-radius: 25px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.filter__container__button > button > span {
   margin: 0 16px 0 16px;
}

.heading__infoText{
   display: flex;
   align-items: center;
   margin-bottom: 3%;
}
.heading__infoText div{
   width: 25px;
   height: 25px;
   border: 1px solid var(--color-grey);
   border-radius: 50%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 1%;
   color: var(--color-blue);
}

.hosting__container{
   display: flex;
}

.hosting__list{
   width: 70%;
   background-color: var(--color-grey);
   border-radius: 20px;
   padding: 3%;
}
.hosting__list h2{
   font-size: 18px;
}

.hosting__list p{
   margin-top: 5%;
   font-size: 14px;
   font-weight: 600;
}
.hosting__list__container__cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
   min-height: 545px;
}
.hosting__card{
   border-radius: 20px;
   background-color: white;
   -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   padding: 4px;
   width: 30%;
   height: 247px;
}

.hosting__card__container__img{
   /* width: 344px; */
   height: 65%;
}
.hosting__card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}
.hosting__card__text{
   margin-left: 3%;
   height: 38%;
   justify-content: space-evenly;
   display: flex;
   flex-direction: column;
}
.hosting__card__text h3{
   font-size: 16px;
}
.hosting__card__text p{
   font-size: 12px;

}
.hosting__card__text h3, p{
   margin: 0 ;
}
.hosting__card__star{
   display: flex;
}
.hosting__card__star--trend{
   margin-top: 10px;
}

.star-grey{
   color: var(--color-grey);
}

.star-blue{
   color: var(--color-blue);
}

.hosting__trend{
   width: 30%;
   min-height: 600px;
   background-color: var(--color-grey);
   border-radius: 20px;
   padding: 3%;
   margin-left: 5%;
}
.hosting__trend__title{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.hosting__trend__title h2{
   font-size: 18px;
}
.hosting__trend__container__cards{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 545px;
}
.hosting__trend__card{
   border-radius: 20px;
   background-color: white;
   -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   padding: 4px;
   display: flex;
   justify-content: space-between;
   height: 28%;
}

.hosting__trend__card__img{
   width: 35%;
}

.hosting__trend__card__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px 0 0 20px;
}

.hosting__trend__card__text{
 width: 60%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.hosting__trend__card__text > div > h3{
   margin: 0;
   font-size: 16px;
}

.hosting__trend__card__text > div > p{
   font-size: 12px;
}
.hosting__activities{
   /* background-color: lightpink; */
   margin: 5% 0;
   min-height: 550px;
}

.hosting__activities h2{
   font-size: 18px;
}
.hosting__activities__container{
   display: flex;
   justify-content: space-between;
}

.hosting__activities__cards{
   width: 21%;
   height: 500px;
}
.hosting__activities__card{
   border-radius: 20px;
   /* background-color: lightyellow; */
   -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   /* padding: 1%; */
   height: 100%;
}

.hosting__activities__card__img{
   height: 90%;
}

.hosting__activities__card__img--twins{
   height: 80%;
}
.hosting__activities__card__img img{
   width: 100%;
   height: 100%;
   border-radius: 20px 20px 0 0 ;
}
.hosting__activities__card__img--twins img{
   width: 100%;
   height: 100%;
   border-radius: 20px 20px 0 0 ;
}

.hosting__activities__card__text{
   padding: 15px;
}
.hosting__activities__cards--twins{
   width: 23%;
   height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
.hosting__activities__card--twins{
   height: 45%;
   border-radius: 20px;
   -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
   box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.35);  
}

.footer__container{
   display: flex;
   justify-content: space-between;
   width: 75%;
}

.footer__list__title{
   font-size: 18px;
}

.footer__list__menu{
   list-style: none;
   padding: 0px;
   font-size: 12px;
}

@media screen and (max-width:1792px){
   .container{
      margin:0;
   }
}